{% extends "layout.html" %}
{% block title %}
    <title>{{ load_resource('Employee', 'PageTitles') }}</title>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <a href="/employee_create" class="btn btn-dark" role="button">{{ load_resource('Employee.Create', 'PageText') }}</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel-body">
            {% for employee in employees %}
                <p>{{ employee[0] }} | {{ employee[1] }} | {{ employee[2] }} | {{ employee[3] }} | {{ employee[4] }} | {{ employee[5] }} | {{ employee[6] }} | {{ employee[7] }}</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}
