{% extends "layout.html" %}
{% block title %}
    <title>{{ load_resource('Employee', 'PageTitles') }}</title>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <a href="/employee_create" class="btn btn-dark" role="button">{{ load_resource('Employee.Create', 'PageText') }}</a>
        </div>
    </div>
    
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">{{ load_resource('Employee.Role', 'PageText') }}</th>
                <th scope="col">{{ load_resource('Employee.FullName', 'PageText') }}</th>
                <th scope="col">{{ load_resource('Employee.CreatedOn', 'PageText') }}</th>
                <th scope="col">{{ load_resource('Employee.ModifiedOn', 'PageText') }}</th>
                <th scope="col">{{ load_resource('Employee.IsActive', 'PageText') }}</th>
                <th scope="col">{{ load_resource('Employee.Title', 'PageText') }}</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee[1] }}</td>
                <td>{{ employee[2] }}</td>
                <td>{{ employee[3] }}</td>
                <td>{{ employee[4] }}</td>
                <td>{{ employee[5] }}</td>
                <td>{{ employee[6] }}</td>
                <td>
                    <a href="/employee_create?id={{ employee[0] }}" class="btn btn-dark" name="edit" role="button">{{ load_resource('Button.Edit', 'Buttons') }}</a>
                    <a href="/employee_delete?id={{ employee[0] }}" class="btn btn-dark" name="edit" role="button" onclick="alert('Are you sure?')">{{ load_resource('Button.Delete', 'Buttons') }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
