{% extends "layout.html" %}
{% block title %}
    <title>{{ load_resource('Employee', 'PageTitles') }}</title>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <a href="/employee_create" class="btn btn-dark" role="button">{{ load_resource('Employee.Create', 'PageText') }}</a>
        </div>
    </div>
    
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">?</th>
                <th scope="col">Bool</th>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <th scope="row-4">{{ employee[0] }}</th>
                <td>{{ employee[1] }}</td>
                <td>{{ employee[2] }}</td>
                <td>{{ employee[3] }}</td>
                <td>{{ employee[4] }}</td>
                <td>{{ employee[5] }}</td>
                <td>{{ employee[6] }}</td>
                <td>{{ employee[7] }}</td>
                <td><a href="/employee_create" class="btn btn-dark" role="button">{{ load_resource('Employee.', 'PageText') }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
