{% extends "layout.html" %}

{% block title %}
    <title>{{ load_resource('Error.InternalServerError', 'PageTitles') }}</title>    
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            {{ load_resource('Error.InternalServerError', 'PageText') }}
            <p style="color: white">                
                {{ errorMessage }}
            </p>
            <a href="/home" class="btn btn-dark" role="button">{{ load_resource('HomePage.Return', 'Buttons') }}</a>
        </div>
    </div>
</div>
{% endblock %}