{% extends "layout.html" %}
{% block title %}
    <title>{{ load_resource('Product.Create', 'PageText') }}</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <form class="form-group" method="POST">
            <div class="form-group">
                <div class="input-group">
                    <div class="container">
                        <input type="hidden" name="productID" value="{{ productID }}">
                        <!-- Dropdown for Product Type -->
                        <div class="col-lg-12">
                            <div class="dropdown">
                                <select name="ProductType" class="selectpicker form-control">
                                    {% for productType in productTypes %}
                                        {% if productType[0] == productTypeID %}
                                            <option class="dropdown-item" value="{{ productType[0] }}" selected>{{ load_resource(productType[1], 'PageText') }}</option>
                                        {% endif %}
                                        {% if productType[0] != productTypeID %}
                                            <option class="dropdown-item" value="{{ productType[0] }}">{{ load_resource(productType[1], 'PageText') }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        <!-- Textareas -->
                            <div class="row">
                                <label class="col-lg-4">Ürün Adı</label>
                                <input type="text" name="Name" class="form-control col-lg-8" placeholder="Ürün adı" value="{{ name }}">
                            </div>
                            <div class="row">
                                <label class="col-lg-4">Fiyat</label>
                                <input type="text" name="Price" class="form-control col-lg-8" placeholder="Fiyat" value="{{ price }}">
                            </div>
                            <div class="row">
                                <label class="col-lg-4">Kalori</label>
                                <input type="text" name="Calorie" class="form-control col-lg-8" placeholder="Kalori" value="{{ calorie }}">
                            </div> 
                            <div class="row">
                                    <label class="col-lg-4">Protein</label>
                                    <input type="text" name="Protein" class="form-control col-lg-8" placeholder="Protein" value="{{ protein }}">
                                </div>   
                            <div class="row">
                                <label class="col-lg-4">Karbonhidrat</label>
                                <input type="text" name="Carbonhydrate" class="form-control col-lg-8" placeholder="Karbonhidrat" value="{{ carbonhydrate }}">
                            </div>
                            <div class="row">
                                <label class="col-lg-4">Yağ</label>
                                <input type="text" name="Fat" class="form-control col-lg-8" placeholder="Yağ" value="{{ fat }}">
                            </div>
                            <div class="row">
                                <label class="col-lg-4">Glükoz</label>
                                <input type="text" name="Glucose" class="form-control col-lg-8" placeholder="Glükoz" value="{{ glucose }}">
                            </div>
                            <div class="row">
                                <label class="col-lg-4">
                                    <input class="form-control col-lg-8" type="checkbox" name="IsVegetarian" value="{{ isVegetarian }}">Is Vegetarian
                                </label>
                            </div>                      
                        </div>                                
                        <button type="submit" class="btn btn-outline-secondary" name="submit_button" value="">{{ load_resource('Button.Save', 'Buttons') }}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}