{% extends "layout.html" %}
{% block title %}
    <title>{{ load_resource('Products', 'PageTitles') }}</title>
{% endblock %}

{% block content%}
<div class="row justify-content-md-center">
        <div class="col-md-auto">
            <a href="/product_create" class="btn btn-dark" role="button">{{ load_resource('Product.Create', 'PageText') }}</a>
        </div>
    </div>
    <table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">{{ load_resource('Products.ProductTypeName', 'PageText') }}</th>
            <th scope="col">{{ load_resource('Products.ProductName', 'PageText') }}</th>
            <th scope="col">{{ load_resource('Products.Price', 'PageText') }}</th>
            <th scope="col">{{ load_resource('Products.Calorie', 'PageText') }}</th>
            <th scope="col">{{ load_resource('Products.Carbonhydrate', 'PageText') }}</th>
            <th scope="col">{{ load_resource('Products.Fat', 'PageText') }}</th>
            <th scope="col">{{ load_resource('Products.Glucose', 'PageText') }}</th>
            <th scope="col">{{ load_resource('Products.IsVegetarian', 'PageText') }}</th>
            <th scope="col">{{ load_resource('Products.Discount', 'PageText') }}</th>
            <th scope="col">{{ load_resource('Products.IsChildrenOnly', 'PageText') }}</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ load_resource(product[1], 'PageText') }}</td>
            <td>{{ load_resource(product[2], 'PageText') }}</td>
            <td>{{ product[3] }}</td>
            <td>{{ product[4] }}</td>
            <td>{{ product[5] }}</td>
            <td>{{ product[6] }}</td>
            <td>{{ product[7] }}</td>
            <td>{{ product[8] }}</td>
            <td>{{ product[9] }}</td>
            <td>{{ product[10] }}</td>
            <td>
                <a href="/product_delete?id={{ product[0] }}" class="btn btn-dark" name="edit" role="button" onclick="alert('Are you sure?')">{{ load_resource('Button.Delete', 'Buttons') }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">{{ load_resource('Toy.ToyName', 'PageText') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for toy in toys %}
        <tr>
            <td>{{ toy[1] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}