{% extends "layout.html" %}
{% block title %}
    <title>{{ load_resource('SalesReport', 'PageTitles') }}</title>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <form class="form-group" method="POST">
            <div class="form-group">
                <div class="input-group">
                    <div class="dropdown">
                        <select name="selectedEmployee" class="selectpicker form-control">
                            {% for employee in employees %}
                            <option class="dropdown-item" value="{{ employee[0] }}">{{ employee[2] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="dropdown">
                            <select name="selectedRegister" class="selectpicker form-control">
                                {% for register in registers %}
                                <option class="dropdown-item" value="{{ register[0] }}">{{ register[0] }} {{ register[1] }}</option>
                                {% endfor %}
                            </select>
                    </div>
                    <button type="submit" class="btn btn-outline-secondary" name="submit_button" value="selectFilter">{{ load_resource('Button.View', 'Buttons') }}</button>
                </div>
            </div>
        </form>
    </div>

    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th>{{ load_resource('Sales.Personnel', 'PageText') }}</th>
                <th>{{ load_resource('Sales.RegisterTypeName', 'PageText') }}</th>
                <th>{{ load_resource('Sales.PaymentMethod', 'PageText') }}</th> 
                <th>{{ load_resource('Sales.CreatedOn', 'PageText') }}</th>
                <th>{{ load_resource('Sales.ModifiedOn', 'PageText') }}</th>
                <th>{{ load_resource('Sales.IsDelivered', 'PageText') }}</th>
                <th>{{ load_resource('Sales.IsCancelled', 'PageText') }}</th>            
                <th>{{ load_resource('Products.ProductName', 'PageText') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in report %}
            <tr>
                <th scope="row">{{ item[0] }}</th>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td> 
                <td>{{ item[4] }}</td>
                <td>{{ item[5] }}</td>
                <td>{{ item[6] }}</td>
                <td>{{ item[7] }}</td>            
                <td>{{ item[8] }}</td>            
            </tr>
            {% endfor %} 
        </tbody>
    </table>
    
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <a href="/sales_create" class="btn btn-dark" role="button">{{ load_resource('Sales.Create', 'PageText') }}</a>
        </div>
    </div>
</div>
{% endblock %}