{% extends "layout.html" %}
{% block title %}
    <title>{{ load_resource('System', 'PageTitles') }}</title>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row-4">
        <div class="panel-body">
            {% for configValue in configValues %}
                <p>{{ configValue[0] }} | {{ configValue[1] }} | {{ configValue[2] }} | {{ configValue[3] }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="row-8">
        <div class="panel-body">
            {% for log in logs %}
                <p>{{ log[0] }} | {{ log[1] }} | {{ log[2] }} | {{ log[3] }} | {{ log[4] }} | {{ log[5] }}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}