{% extends "layout.html" %}
{% block title %}
    <title>{{ load_resource('System', 'PageTitles') }}</title>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Config ID</th>
                <th scope="col">Config Value</th>
                <th scope="col">Config Type</th>
                <th scope="col">Is Editable?</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for configValue in configValues %}
            <tr>
                <th scope="row">{{ configValue[0] }}</th>
                <td>{{ configValue[1] }}</td>
                <td>{{ configValue[2] }}</td>
                <td>{{ configValue[3] }}</td>   
                <td>
                    {% if configValue[3] == true %}
                    <a href="/system_edit?id={{ configValue[0] }}" class="btn btn-dark" name="edit" role="button">{{ load_resource('Button.Edit', 'Buttons') }}</a>
                    {% endif %}
                </td>

            </tr>
            {% endfor %} 
        </tbody>
    </table>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Log</th>
                <th scope="col">Page</th>
                <th scope="col">Level</th>
                <th scope="col">Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            {% if (log[3] == "Fatal") %}
            <tr>
                <th scope="row">{{ log[0] }}</th>
                <td class="text-justify">{{ log[1] }}</td>
                <td>{{ log[2] }}</td>
                <td class="bg-danger">{{ log[3] }}</td>
                <td>{{ log[5] }}</td>
            </tr>
            {% elif (log[3] == "Warning") %}
            <tr>
                <th scope="row">{{ log[0] }}</th>
                <td class="text-justify">{{ log[1] }}</td>
                <td>{{ log[2] }}</td>
                <td class="bg-warning">{{ log[3] }}</td>
                <td>{{ log[5] }}</td>
            </tr>
            {% elif (log[3] == "Info") %}
            <tr>
                <th scope="row">{{ log[0] }}</th>
                <td class="text-justify">{{ log[1] }}</td>
                <td>{{ log[2] }}</td>
                <td class="bg-info">{{ log[3] }}</td>
                <td>{{ log[5] }}</td>
            </tr>
            {% else %}
            <tr>
                <th scope="row">{{ log[0] }}</th>
                <td class="text-justify">{{ log[1] }}</td>                    
                <td>{{ log[2] }}</td>
                <td>{{ log[3] }}</td>
                <td>{{ log[5] }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}